<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

	<head>
    
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		
		{% if page.url == "/index.html" %}
		<title>Lachlan Nuttall iPhone/iPad app developer Brisbane</title>
		{% else %}
		<title>{{ page.title }} | Lachlan Nuttall iPhone/iPad app developer Brisbane</title>
		{% endif %}
		
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- STYLES -->
		<!--ifdev:start-->
		<link rel="stylesheet" href="/css/theme.css">
		<!--ifdev:end-->
		<!--ifdist:start
		<link rel="stylesheet" href="/css/theme.min.css">
		ifdist:end-->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600|Josefin+Slab:300,600' rel='stylesheet' type='text/css'>
		
		{% comment %} 
		<!-- Photoswipe -->
		<!-- Core CSS file -->
		<link rel="stylesheet" href="/ps/photoswipe.css"> 
		<!-- Skin CSS file (styling of UI - buttons, caption, etc.)
				 In the folder of skin CSS file there are also:
				 - .png and .svg icons sprite, 
				 - preloader.gif (for browsers that do not support CSS animations) -->
		<link rel="stylesheet" href="/ps/default-skin/default-skin.css"> 
		<!-- Core JS file -->
		<script src="/ps/photoswipe.min.js"></script> 
		<!-- UI JS file -->
		<script src="/ps/photoswipe-ui-default.min.js"></script> 
		{% endcomment %} 
	</head>
	<body>
     
		<!--[if lt IE 7]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		
		<!-- Fixed navbar -->
		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">

			<div class="container narrow">

				<div class="navbar-header">

					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>          
					<!--
					<a class="navbar-brand small-hide" href="/" class="active" >Lachlan Nuttall</a>
					-->
				</div>

				<div class="navbar-collapse collapse">
					
					<ul class="nav navbar-nav"> 
						<li class="{% if !page.id or page.url == "/index.html" %}active{% endif %}" ><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span><span class="sr-only">home</span></a></li>
						
						<li class="dropdown">
						
                <a href="/index.html" data-toggle="dropdown" class="dropdown-toggle">{% if page.category %}{% if site.catlabels[page.category] %}{{ site.catlabels[page.category] }}{% else %}{{ page.category }}{% endif %}{% else %}<em>filter by</em>{% endif %} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    
                    {% for category in site.categories reversed %}
                    
                   		{% capture catname %}{{ category | first }}{% endcapture %}     
                   		
                   		{% if catname != "desktop" %}
                   		              		
												{% capture catlabel %}{% if site.catlabels[catname] %}{{ site.catlabels[catname] }}{% else %}{{ catname }}{% endif %}{% endcapture %}
											
											
												{% if site.hiddencats[catname] != true %}
																			
													<li class="{% if page.category != "" %}{% if page.category == catname %}active{% endif %}{% endif %}" ><a href="/tag/{{ category | first }}"  >{{ catlabel }}</a></li>
												
												
												{% endif %}
											
											{% endif %}
										{% endfor %}
										
                    {% for category in site.categories reversed %}
                    
                   		{% capture catname %}{{ category | first }}{% endcapture %}     
                   		
                   		{% if catname == "desktop" %}
                   		              		
												{% capture catlabel %}{% if site.catlabels[catname] %}{{ site.catlabels[catname] }}{% else %}{{ catname }}{% endif %}{% endcapture %}
											
											
												{% if site.hiddencats[catname] != true %}
																			
													<li class="{% if page.category != "" %}{% if page.category == catname %}active{% endif %}{% endif %}" ><a href="/tag/{{ category | first }}"  >{{ catlabel }}</a></li>
												
												
												{% endif %}
											
											{% endif %}
										{% endfor %}						
										
                </ul>
            </li>
            
						{% comment %}<!--
						<li class="{% if page.url == "/contact.html" %}active{% endif %}" ><a href="/contact.html" ><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><span class="sr-only">Contact</span></a></li>
						-->{% endcomment %}
						
					</ul>
					
					<ul class="nav navbar-nav navbar-right icon-nav">
						<li class="{% if page.url == "/cv.html" %}active{% endif %}" ><a href="/cv" >cv</a></li>
						<li class="{% if page.url == "/contact.html" %}active{% endif %}" ><a href="/contact" >contact</a></li>
						<li><a href="http://github.com/loksland" target="_blank" title="github" class="pic" ><i class="fa fa-github-alt"></i><span class="sr-only">github</span></a></li>
						<li><a href="http://twitter.com/loklandia" target="_blank" title="@loklandia" class="pic" ><i class="fa fa-twitter"></i><span class="sr-only">twitter</span></a></li>
					</ul>
				
				</div>

			</div><!--/.container -->
		</div><!--/.navbar -->
		
		
		{% if page.noblurb != true %}
		<div class="intro" >
		<div class="container narrow" >
		<div class="row" >
		<div class="col-sm-12" >		
		<img src="/img/lachlan-nuttall.jpg" width="128" height="128" alt="Lachlan Nuttall" class="img-rounded" >
		<p >
		Hello, my name is <strong>Lachlan Nuttall</strong> and I design and develop beautifully engaging experiences for mobile and the web. Here is a selection of apps, games, animations and experiences I've created and contributed to. 	
		</p>
		</div>
		</div>
		</div>
		</div>
		{% endif %}
		
		{{ content }} 
		
		{% comment %} 
		<!-- Root element of PhotoSwipe. Must have class pswp. -->
		<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

				<!-- Background of PhotoSwipe. 
						 It's a separate element as animating opacity is faster than rgba(). -->
				<div class="pswp__bg"></div>

				<!-- Slides wrapper with overflow:hidden. -->
				<div class="pswp__scroll-wrap">

						<!-- Container that holds slides. 
								PhotoSwipe keeps only 3 of them in the DOM to save memory.
								Don't modify these 3 pswp__item elements, data is added later on. -->
						<div class="pswp__container">
								<div class="pswp__item"></div>
								<div class="pswp__item"></div>
								<div class="pswp__item"></div>
						</div>

						<!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
						<div class="pswp__ui pswp__ui--hidden">

								<div class="pswp__top-bar">

										<!--  Controls are self-explanatory. Order can be changed. -->

										<div class="pswp__counter"></div>

										<button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
										<!--
										<button class="pswp__button pswp__button--share" title="Share"></button>
										
										
										<button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
										
										<button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
										-->
										
										<!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
										<!-- element will get class pswp__preloader--active when preloader is running -->
										<div class="pswp__preloader">
												<div class="pswp__preloader__icn">
													<div class="pswp__preloader__cut">
														<div class="pswp__preloader__donut"></div>
													</div>
												</div>
										</div>
								</div>

								<div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
										<div class="pswp__share-tooltip"></div> 
								</div>

								<button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
								</button>

								<button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
								</button>

								<div class="pswp__caption">
										<div class="pswp__caption__center"></div>
								</div>

						</div>
				</div>
		</div>		
		{% endcomment %} 
		
		<!--ifdev:start-->
		<script src="/js/vendor/jquery.js" ></script>		
		<script src="/js/vendor/bootstrap.js" ></script>		
		<script src="/js/common.js"></script>
		<!--ifdev:end-->
		
		<!--ifdist:start
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="/js/vendor/jquery.min.js"><\/script>')</script>
		<script src="/js/vendor/bootstrap.min.js" ></script>
		<script src="/js/scripts.min.js"></script>
		{% include google-analytics.html %}
		ifdist:end-->
		
	</body>
</html>