{% comment %}
<!--
Usage:
{% include about-blurb.html %}
-->
{% endcomment %}

<h4>About</h4> 

{% markdown %}

Howdy! Thanks for dropping by the development blog for **Golden Cannon**, a puzzle game for iPhone. 

Why not make yourself at home, put your feet up and have a cuppa. 

Um - maybe don't put your feet there. That's an antique, is all. 
Please use the coasters too - you're going to damage the finish. Now you've got crumbs everywhere. 

{% comment %}
<!--
Sharing art, prototypes, progress shots, ideas, processes as well as a few dead-ends and 
red herrings along the way. 
-->
{% endcomment %}
{% endmarkdown %}

