{% comment %}
<!--
	
Usage:
include post-img.html img="jaws.jpg" img_preset="post_full|post_med|post_small" alt="Jaws movie poster" is_fixed_size=true 
credit_url="http://theonion.com" credit_url_name="The Onion" credit_title="The Mona Lisa"

-->
{% endcomment %}



{% if include.is_fixed_size %} 



<p class="text-center img-wrapper" >
<a href="/{{ site.picture.source }}/{{ include.img }}" target="_blank" >
<img src="/{{ site.picture.source }}/{{ include.img }}" alt="{{ include.alt }}" 
{% if include.img_preset == "post_med" %} 
class="post-pic-med"
{% elsif include.img_preset == "post_small" %}
class="post-pic-small"
{% else %}
class="post-pic-full"
{% endif %}	
>
</a>
</p>


{% else %}

<p class="text-center img-wrapper" >
<a href="/{{ site.picture.source }}/{{ include.img }}" target="_blank" >
{% if include.img_preset %} 
{% picture {{ include.img_preset }} {{ include.img }} alt="{{ include.alt }}" %}
{% else %}
{% picture post_full {{ include.img }} alt="{{ include.alt }}" %}
{% endif %}
</a>
</p>

{% endif %}



{% if include.credit_url %} 
<small><em>{% if include.credit_title %}{{ include.credit_title }}{% else %}Image{% endif %} via <a href="{{ include.credit_url }}" target="_blank" >{% if include.credit_url_name %}{{ include.credit_url_name }}{% else %}{{ include.credit_url }}{% endif %}</a></em></small><br>
{% endif %}